  <tr >
    <td><%= f.number_field :qty, :style => 'width:50px' %></td>
    <td><%= f.collection_select :product_id, active_parts_rates, :id, :product_lookup, :include_blank => true,  :style => 'width:90%;' %></td>
    <td><%= f.text_field :line_comment, :style => 'width:90%;' %></td>
    <td><%= link_to 'Remove', 'products',  class: 'remove_fields btn btn-small btn-danger' %></td>
  </tr>
