<div class="fields">
  <p>
    <div class="inline centered_text"><%= f.number_field :qty, :style => "width:50px" %></div>
        <div class="inline w430"><%= f.collection_select :product_id, Product.where("active = ?", true).order('description'), :id, :product_lookup, :include_blank => true %></div>
        <div class="inline"><%= f.text_field :line_comment, :size => 50 %></div>
  <%= link_to "remove", '#', class: "remove_fields" %>

  </p>
    </div>