
        <tr align="center" class="fields" >
            <td><%= f.number_field :qty, :size => 2 %></td>
            <td align="left"><%= f.collection_select :service_id, ServiceRate.where("active = ?",true).order('description'), :id, :rate_lookup, :include_blank => true %>
            <td  align="left"><%= f.text_field :line_comment, :size => 50 %></td>
            <td><%= link_to_remove_fields f %></td>
        </tr>



