body {
  width: 95%;
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial,serif;
  font-size: 12px;
}
#index_table {
     border-collapse:collapse;
}
#index_table th, #index_table td {
    border: 1px solid #000066;
    padding:3px 7px 2px 7px;

}
#index_table th {
  color: #ffffff;
  background-color: #4B7399;

}
#index_table td {
  color: #000000;
}
#index_table th a {
  color:#ccccff;
}
#index_table th .current {
    padding-right:14px;
  background-repeat:no-repeat;
  background-position: right center;
}

#index_table th .ASC {
  background-image:url("/images/arrow_up.png");
}

#index_table th .DESC {
  background-image:url("/images/arrow_down.png");
}


a img {
  border: none;
}

#conatiner a {
  color: #0000FF;
}
#show_view {
  border: 1px solid #999999;
  background-color: #edf2f6;
  padding:10px 10px 10px 10px;
}

#show_view table {
    width:100%;
    padding-left:1%;
    border:none;

}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 97%;
  float:left;
  background-color: #FFF;
  padding: 20px 40px 20px 40px;
  /*border: solid 1px black;*/
  text-align:left;

}
#yield {
  margin: 0 auto;
}
#yield h1 {
  font-size:16px;
  text-decoration:underline;
  color: #000099;
}
h6 {
  width: 95%;
  font-family: Verdana, Helvetica, Arial,fantasy;
  font-size: 12px;

}

#menu {
  width: 100%;
  float:left;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;

}
#flash_notice, #flash_error {
  padding: 4px 30px 4px 30px;
  margin: 10px 0;
}

#flash_notice {
  background: url(/images/tick.png) 8px 5px no-repeat #CFC;
  border: solid 2px #6C6;
  font-weight:bold;
}

#flash_error {
  background: url(/images/exclamation.png) 8px 5px no-repeat #FCC;
  border: solid 2px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
    height:100%;
    margin: 0 auto;
}
#right_bar {
    width:15%;
    height:100%;
    float:right;
    border: 1px solid #000000;
    text-align: left;
    background-color: #ccffcc;
    font-size:10px;
    padding:3px;

}
.round {
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
}

#footer {
    width:100%;
    float:left;
    color: #FFF;
    text-align: center;
    padding: 4px 0;

}
.footer_link a {
    color: #FFF;
}
.footer_version {
    font-size:x-small;
}

#header {
    text-align:center;
    padding-bottom:25px;

}
.even td {
  background-color: #E3E6FF;
}

.odd td {
  background-color: #ffffff;
}
.priority_main_1 td {background-color: #ccffcc;}
.priority_main_2 td {background-color: #ffff99;}
.priority_main_3 td {background-color: #ffcc00;}
.priority_main_4 td {background-color: #ff9999; font-weight:bold;}
.priority_main_5 td {background-color: #cc0033; font-weight:bolder;}

#top_float_right {
    text-transform:uppercase;
    padding: 0 0 0 20px;
    font-size:11px;
    float:right;
    /*margin-top:-30px;*/
 }
#top_float_left {
    float:left;
    padding:inherit;
    margin-top:30px;

}
.button {
    padding:inherit;
    margin-top:-30px;


}

.digg_pagination {
  background: white;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #003;
      border-color: #003; }
  .digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child+html .digg_pagination {
    overflow: hidden; }


/*BOF Menu*/
.menu{
font: bold 12px Verdana;
background: #414141;
width: 100%;
}

.menu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.menu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.menu ul li a{
display: block;
background: #414141; /*background of tabs (default state)*/
color: white;
padding: 8px 10px;
border-right: 1px solid #778;
text-decoration: none;
}

* html .menu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}
.menu li a.selected, .menu li a.selected:hover {
    background:#fff;
    color:#555;
}


.menu ul li a:link, {
color: white;
}
.menu ul li   {
color:aquamarine;
}

.menu ul li a:hover{
background: black; /*tab link background during hover state*/
color: white;
}

/*1st sub level menu*/
.menu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.menu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.menu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.menu ul li ul li a{
font: normal 13px Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}

.menuz ul li ul li a:hover{ /*sub menus hover style*/
background: #eff9ff;
color: black;
}

}/*EOF Slide Menu*/

/*Filter section*/
fieldset.collapsible { border-width: 1px 0 0 0; font-size: 0.9em; }
fieldset.collapsible legend { padding-left: 1px;  cursor:pointer; }
fieldset.collapsible.collapsed legend {  }

fieldset#date-range p { margin: 2px 0 2px 0; }
fieldset#filters table { border-collapse: collapse; }
fieldset#filters table td { padding: 0; vertical-align: middle; }
fieldset#filters tr.filter { height: 2em; }
fieldset#filters td.add-filter { text-align: right; vertical-align: top; }


/*Used in Settings for label and text box layouts*/
.box{padding:6px;margin-bottom: 10px;line-height:1.5em;}
/***** Tabular forms ******/
.tabular p{margin: 0;padding: 5px 0 8px 0;padding-left: 180px; /*width of left column containing the label elements*/height: 1%;clear:left;}
html>body .tabular p {overflow:hidden;}
.tabular label{ font-weight: bold;float: left;text-align: right;margin-left: -180px; /*width of left column*/width: 175px; /*width of labels. Should be smaller than left column to create some right
margin*/
}

.tabular label.floating{font-weight: normal;margin-left: 0px;text-align: left;width: 270px;}

.tabular label.block{font-weight: normal;margin-left: 0px !important;text-align: left;float: none;display: block;width: auto;}

input#time_entry_comments { width: 90%;}

/*#preview fieldset {margin-top: 1em; background: url(../images/draft.png)}*/

.tabular.settings p{ padding-left: 300px; }
.tabular.settings label{ margin-left: -300px; width: 295px; }
.tabular.settings textarea { width: 99%; }
fieldset.settings label { display: block; }

/*Display Nice Table Labels and Fields and Fieldsets Headers*/
.tbl_labels { width:25%; text-align:right; vertical-align:top;}
.tbl_fields { text-align:left; vertical-align:top; text-decoration:underline; width:60%}
.tbl_textarea { text-align:left; background-color:white; border:black solid thin}
.priority_1 { /*background-color: #ccffcc;*/ font-weight:bold; text-transform:uppercase;}
.priority_2 { /*background-color: #ffff99;*/ font-weight:bold; text-transform:uppercase; border-collapse:collapse;}
.priority_3 { /*background-color: #ffcc00;*/ font-weight:bold; text-transform:uppercase; border-collapse:collapse;}
.priority_4 { /*background-color: #ff9999;*/ font-weight:bold; text-transform:uppercase; border-collapse:collapse;}
.priority_4 { /*background-color: #cc0033;*/ font-weight:bold; text-transform:uppercase; border-collapse:collapse;}