<div class="row-fluid">
  <div class="span10">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#basic" data-toggle="tab"><%= t("products.tab_menu_basic") %></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="basic">
          <p><%= render(:partial => 'form') %></p>
        </div>

      </div>
    </div>
  </div>

  <div class="span2">
    <%= menu_button (t "global.exit"), service_rates_path, "icon-pencil icon-white" %>
  </div>
</div>
