<h1>Listing settings</h1>

<table>
  <tr>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= link_to 'Show', setting %></td>
    <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
  </tr>
<% end %>
</table>

<br />