<div id="sidebar_left">
  <%= module_header %>
  <div class="module">
    <ul>
        <li class="back"><%= link_to (t "global.back"), :back %></li>
    </ul>
  </div>
  <%= render 'layouts/left_sidebar_modules' %>
</div>

<div id="center_col" class="tabcontainer">
  <p>&nbsp;</p>
<%= render 'form' %>

</div>
