<%= render 'layouts/left_sidebar_modules' %>

<div id="center_col" class="content">
  <div id="page_title" class="shadow">
    <h1>Editing page</h1>
    </div>

<%= render 'form' %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', :back %>

</div>