<p>
  <b>Name:</b>
  <%=h @product_category.name %>
</p>

<p>
  <b>Sub category:</b>
  <%=h @product_category.sub_category_id %>
</p>


<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>