<div id="sidebar_left">
  <%= module_header %>
  <div class="module">
    <ul>
        <li class="create"><%= link_to (t "global.create"), new_role_path %></li>

    </ul>
  </div>
   <%= render 'layouts/left_sidebar_modules' %>
  </div>

<div id=center_col>

<%= render 'form' %>
</div>
