<p>
  <b>Username:</b>
  <%=h @user_session.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @user_session.password %>
</p>


<%= link_to 'Edit', edit_user_session_path(@user_session) %> |
<%= link_to 'Back', user_sessions_path %>